.board-with-status {
    width: var(--small-screen-width);
    max-width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bws-active {
    pointer-events: initial;
    filter: opacity(1);
}

.board-with-status > .board {
    grid-template-columns: repeat(3, calc(70px + 8vw));
    grid-template-rows: repeat(3, calc(70px + 8vw));
    row-gap: 7px;
    column-gap: 7px;
}

.board-with-status .square {
    font-size: calc(28px + 1.5vw);;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}

@media only screen and (min-width: 1001px) {

    .board-with-status {
        width: var(--large-screen-width);
    }

    .board-with-status > .board {
        grid-template-columns: repeat(3, calc(75px + 3.5vw));
        grid-template-rows: repeat(3, calc(75px + 3.5vw));
        row-gap: .5em;
        column-gap: .5em;
    }

    .board-with-status .square {
        font-size: calc(25px + 1.5vw);;
    }
}