.game-btn {
    font-family: 'Roboto', sans-serif;
    font-size: var(--sm-menu-btn-font);
    color: hsl(224, 100%, 85%);
    background-color: var(--menu-btn-color);
    width: 5.7em;
    padding: .3em 0;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
    transition: var(--main-transition);
}

.game-btn:hover {
    color: var(--hover-font-color);
    background-color: var(--hover-background);
    cursor: pointer;
}

.game-btn-active {
    color: white;
    background-color: var(--menu-btn-active-color);
    border: none
}

.game-btn-active:hover{
    color: white;
    background-color: var(--menu-btn-active-color);
    cursor: auto;
}

@media only screen and (min-width: 1001px) {

    .game-btn {
        font-size: var(--lg-menu-btn-font);
        margin-right: 7px;
    }
}