.select-difficulty {
    font-size: 14px;
    padding: 3px 0;
    width: 167px;
    color: white;
    background-color: hsl(225, 56%, 56%);
    /*border: 2px solid white;*/
    border: none;
    border-radius: 5px;
}

.select-difficulty > option {
    font-size: 15px;
}