.game-flow {
    width: var(--small-screen-width);
    max-width: 100%;
}

#moves-list {  
    width: calc(250px + 15vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 20px;
    list-style: none;
    margin: 15px auto 20px auto;
    padding: 0;
}

.move {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px 0;
}

.move > button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-size: calc(11px + .5vw);
    width: 90%;
    padding: .3em 0;
    background-color: hsl(220, 33%, 28%);
    color: hsl(224, 100%, 88%);
    border: none;
    border-radius: 4px;
    transition: var(--main-transition);
}

.move > button:hover {
    color: var(--hover-font-color);
    background-color: var(--hover-background);
    cursor: pointer;
}

.move > .board {
    grid-template-columns: repeat(3, calc(36px + 2.5vw));
    grid-template-rows: repeat(3, calc(36px + 2.5vw));
    row-gap: 3px;
    column-gap: 3px;
}

.move .square {
    font-size: calc(15px + 1.5vw);
    background-color: hsl(221, 35%, 11%);
    border-radius: 2px;
}

@media only screen and (min-width: 1001px) {

    .game-flow {
        width: var(--large-screen-width);
        max-width: 100%;
    }

    #moves-list {
        width: calc(20px + 20vw);
        margin: 10px auto 20px auto;
    }

    .move > button {
        font-size: calc(8px + .3vw);
        width: 95%;
    }

    .move > .board {
        grid-template-columns: repeat(3, calc(25px + .5vw));
        grid-template-rows: repeat(3, calc(25px + .5vw));
    }

    .move .square {
        font-size: calc(7px + .5vw);
    }

}